<<<<<<< HEAD
<<<<<<< HEAD
<h1>Book Info</h1>

=======
>>>>>>> dfdd2fe7e7d3ea54732b0c382b8c259f6256f507
=======
>>>>>>> 2446878c2ae0f7c3307082297d587efec3d8ed7e
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<<<<<<< HEAD
<<<<<<< HEAD
<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Published Date:</strong>
  <%= @book.published_date %>
</p>

=======
>>>>>>> dfdd2fe7e7d3ea54732b0c382b8c259f6256f507
=======
>>>>>>> 2446878c2ae0f7c3307082297d587efec3d8ed7e
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
